.lista-cartas {
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 7%;
    bottom: 5%;
    z-index: 10;
  }
  
  .carta-container {
    position: relative;
    margin-right: -50px; /* Margem negativa para empilhar as cartas */
    transition: margin-right 0.2s;
  }
  
  .carta-container.em-frente {
    margin-right: 0; /* Muda a margem para 0 para colocar a carta em destaque na frente */
    z-index: 1; /* Coloca a carta em destaque na frente das outras */
  }
  